<html>
        <head>
            <title>Mi sitio</title>
            <link rel= "stylesheet" href="/stylesheets/style.css">
        </head>
        <body>

<header>
    <p>  mi sitio! </p>
    <nav>
        <ul>
            <li>
                <a href ="/libros/crear">crear libro</a>
            </li>
            <li>
                <a href ="/libros">ver libros</a>
            </li>


        </ul>
    </nav>
</header>